:root {
  --green: rgb(0, 255, 195);
  --red: rgba(245, 8, 8);
  --fontlight: rgb(231, 231, 240);
  --bluedark: rgb(30 45 64);
  --darkgreen: rgba(0, 255, 195, 0.384);
  --darkred: rgba(245, 8, 8, 0.384);
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: var(--bluedark);
  color: var(--fontlight);
}

p {
  padding-top: 10px;
}

h3 {
  padding-bottom: 10px;
}

.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--bluedark);
  min-height: 100vh;
  min-width: 100vw;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

img.logo {
  height: 100px;
  padding-right: 100px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 255, 195, 0.3);
  background: var(--bluedark);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar a {
  display: block;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar a.active {
  background-color: var(--green);
}

.main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--bluedark);
}
.meme-list {
  width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.meme {
  border: 1px solid #ddd;
  padding: 20px 40px;
  margin: 10px 0;

  background: rgba(0, 0, 0, 0.75);
  background: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.25)
  );
  border: solid ghostwhite;
  border-radius: 20px;
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.5);
  margin: 15px 0;
}

.meme img {
  height: auto;
  width: 400px;
}

.upVotePar {
  color: var(--green);
}

.downVotePar {
  color: var(--red);
}

.voteBtn {
  padding-top: 15px;
}

.upVoteBtn,
.downVoteBtn {
  font-size: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.upVoteBtn {
  margin-right: 20px;
  color: var(--green);
}

.upVotePar {
  color: var(--green);
}

.upVoteBtn:hover {
  background-color: var(--darkgreen);
  border-radius: 5px;
}

.downVotePar {
  color: var(--red);
}

.downVoteBtn {
  color: var(--red);
}

.downVoteBtn:hover {
  background-color: var(--darkred);
  border-radius: 5px;
}

.star-yellow {
  color: gold;
  background: transparent;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.star-gray {
  color: gray;
  background: transparent;
  font-size: 30px;
  border: none;
  cursor: pointer;
}
